extends ../layout

block styles
	// Site stylesheet
	link(rel='stylesheet', href='/app/styles/frontend.css')

block content
	section.hero.is-fullheight.is-dark
		.hero-body
			.container
				.columns.is-vcentered
					.column.is-4.is-offset-4
						h1.title Registrarse
						.box
							form(action='/signup', method='POST')
								input(type="hidden", name="_csrf" value=_csrf)
								.form-group
									label.label(for='name')= t("Nombre")
									input.input(type='text', name='name', id='name', placeholder=t("Tu Nombre"), autofocus=true, required)
								.form-group
									br
									label.label(for='email')= t("Correo")
									input.input(type='email', name='email', id='email', placeholder=t("tu@correo.com"), required)
									.hint
								.form-group
									br
									label.label(for='username')= t("Usuario")
									input.input(type='text', name='username', id='username', placeholder=t("Tu Nombre de Usuario"))
									.hint
								//.form-group.switch
									div= t("PasswordlessAccount")
									input(type='checkbox', name='passwordless', id='passwordless')
									label(for='passwordless')
									.hint

								.form-group
									br
									label.label(for='password')= t("PasswordSC")
									input.input(type='password', name='password', id='password', placeholder=t("Password"))

								.flash
									if messages.error
										.alert.alert-danger
											for error in messages.error
												div= error.msg
									if messages.info
										.alert.alert-success
											for info in messages.info
												div= info.msg

								.form-group
									br
									button.button.is-primary(type='submit')= t("Crear Cuenta")

								if socialAuth
									.or
										span= t("or")

									.socials
										if socialAuth.facebook
											a.group.facebook(href="/auth/facebook", title=t("SignUpFacebook"))
												i.fa.fa-facebook
										if socialAuth.google
											a.group.google(href="/auth/google", title=t("SignupGoogle"))
												i.fa.fa-google-plus
										if socialAuth.github
											a.group.github(href="/auth/github", title=t("SignupGithub"))
												i.fa.fa-github

								hr
								.form-group
									span= t("Ya tiene una cuenta ?")
									br
									br
									a.button(href='/login')= t("Entrar")

block scripts
	script(src='/app/frontend.js')

	script.
		document.querySelector("#passwordless").addEventListener('change', function() {
			document.querySelector("#password").disabled = this.checked;
		});